a.tp {
    background-color: darkslategrey;
    background-image: url('images/links/tp_lovelikeyou.png');
    /* needs to resize art file */
}

a.rb {
    background-color: darkred;
    background-image: url('images/links/rb_cookiecat.png');
}

a.th {
    background-color: wheat;
    background-image: url('images/links/th_plants.png');
}

/* Tablet */
@media only screen and (min-width: 800px) {
    body {
      max-width: 65%;
    }
  }
  /* Desktop */
  @media only screen and (min-width: 1080px) {
    body {
      max-width: 860px;
    }
  }