a.tp {
    background-color: darkslategrey;
    background-image: url('images/tp_lovelikeyou.png');
    /* needs to resize art file */
}

a.rb {
    background-color: darkred;
    background-image: url('images/rb_cookiecat.png');
    /* needs to resize art file */
}

a.th {
    background-color:rebeccapurple;
    background-image: url('images/th_willow.png');
    /* need busier bg? */
}

a.s6 {
    background-color: wheat;
    background-image: url('images/s6_chestnut.png');
    /* need busier bg? */
}

/* Tablet */
@media only screen and (min-width: 800px) {
    body {
      max-width: 65%;
    }
  }
  /* Desktop */
  @media only screen and (min-width: 1080px) {
    body {
      max-width: 860px;
    }
  }